.location-on-page {
  background-color: var(--dark-forrest);
  font-size: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
  padding: 0.5rem;
}
